{% extends "base.html.twig" %}

{% block body %}

    <h1>Dit is de detail pagina van een student</h1>
    <h3> Student in kwestie:</h3>

   {{ student.naam }}
   {{ student.voornaam }}
   {{ student.punten }}
    {{ student.geslacht }}
    Geboren op: {{ student.geboortedatum |date("m/d/Y") }}
    {{ student.geboortedatum |ago }}


{% endblock %}